@for $i from 0 through 100 {
  .progress progress[value="#{$i}"]
  {
    & + .progress__value:before { content : '#{$i}%' }
    & ~ .progress__bg .progress__bar { width: $i * 1% }
  }
}

// Прячем нативный элемент:
.progress
{
  font: 12px Arial, Tahoma, sans-serif;
  position: relative;
  overflow: hidden;
  progress
  {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -777px;
  }
}

.progress__value
{
  color: #333;
  display: block;
  line-height: 21px;
  text-align: center;
}

.progress__bg
{
  background: #e6e9ed;
  position: relative;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}




@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}
@-moz-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}
@keyframes progress__bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}

.progress__bar
{
  overflow: hidden;
  background: #ac92ec;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    width: 0;
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -ms-transition: width 1s linear;
  transition: width 1s linear;    
  &:after
  {
  -webkit-animation: progress_bar 0.8s linear infinite;
  -moz-animation: progress_bar 0.8s linear infinite;
  -ms-animation: progress_bar 0.8s linear infinite;
  -o-animation: progress_bar 0.8s linear infinite;
  animation: progress_bar 0.8s linear infinite;      
      
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}